@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  background: linear-gradient(to bottom, #fafafa 0%, #f6f8fa 30%);
  font-family: Roboto ,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  min-height: calc(100vh - 10rem);
}

  /* width */
  ::-webkit-scrollbar {
    width: 0.5rem;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 0px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e2e2e2;
    border-radius: 10px;
  }
